# Variables de entorno
.env
.env.local
.env.development
.env.production
*.env

# Pero permitir el archivo de ejemplo
!.env.example

# Entorno virtual
env/
venv/
.venv/

# Logs
*.log

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

__pycache__/
*.py[cod]
*$py.class
media/
staticfiles/
db.sqlite3
*.sqlite3-journal
.coverage
htmlcov/
.pytest_cache/